MSB_TELEGRAM_TOKEN=
MSB_TELEGRAM_BOT_ID=
MSLB_TELEGRAM_TOKEN=
MSLB_TELEGRAM_BOT_ID=
LASTFM_API_KEY=
GENIUS_ACCESS_TOKEN=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
OPENAI_API_KEY=
REPLICATE_TOKEN=
GH_TOKEN=
IG_USERNAME=
IG_PASSWORD=
ACR_ACCESS_KEY=
ACR_SECRET_KEY=

MSLB_TELEGRAM_LOG_CHAT_ID=

MSBC_TELEGRAM_CHAT_ID=

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL=postgresql://cle63a9qw00009sn7buwtd7ye:SbZiGT5OaG6yoM1NGoYRL4W9@192.168.15.99:9001/cle63a9r400029sn70fh9fj63 #Dev
DATABASE_URL=

ADMINS=

HOST=
PORT=